/.phpunit.cache
/node_modules
/public/build
/public/hot
/storage/*.key
/storage
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Track uploaded media assets only
!/storage/
/storage/*
!/storage/app/
/storage/app/*
!/storage/app/public/
/storage/app/public/*
!/storage/app/public/media/
!/storage/app/public/media/**
